.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px
}


.inputField label {
  font-family: "Fredoka";
  align-self: flex-start;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-left: 10px;
}

.inputField input {
  width: 100%;
  height: 65px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 18px;
  border: 3px solid #000000;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 20px;
  background-color: #fff;
  color: #000000
}

.inputField input:focus {
  outline: none;
  border: 3.5px solid #1D1D1D
}