.card {
  position: relative; 
  margin: 16px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.ribbonFAB {
  box-sizing: border-box;
  
  left: -110px; 
  top: 50%;
  width: 96px;
  height: 96px;
  background: #F3F3F3;
  border: 7px solid #BEBEBE;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.content {
  background-color: #F3F3F3;
  border-radius: 8px;
  border: 4px solid #BEBEBE;
  padding: 16px;
  flex: 1;
  margin-left: 16px; 
}


.question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.answerContainer {
  display: flex;
  align-items: center;
}

.answer {
  font-size: 14px;
  color: #555;
  margin-right: 8px;
}

.chatIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.justification {
  font-size: 14px;
  color: #777;
}

.actions {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  align-items: center; 
}


.goIcon {
  display: flex; 
  justify-content: center;
  align-items: center;
  
  width: 64px;
  height: 64px;
  padding: 0;
  
  background: #2E9DF4;
  border: 4px solid #000D61;
  border-radius: 10px;
  cursor: pointer;
  
  box-sizing: border-box;
  flex-shrink: 0; 
}

.editButton {
  display: flex; 
  justify-content: center;
  align-items: center;

  width: 64px; 
  height: 64px;
  padding: 0;

  background-color: #fff;
  border: 4px solid grey;
  border-radius: 12px;
  cursor: pointer;
  color: grey;
  
  box-sizing: border-box;
  flex-shrink: 0;
}

.deleteIconButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px; 
  height: 64px;
  padding: 0;

  background-color: #f44336;
  border: 4px solid #570000;
  border-radius: 12px;
  cursor: pointer;
  color: white;

  box-sizing: border-box;
  flex-shrink: 0;
}

.goIcon:hover, .editButton:hover, .deleteIconButton:hover {
  transform: scale(1.05);
}

