.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    background-image: url("../../assets/background.png");
    padding: 20px;
    background-repeat: repeat;

}

.logoHome {
    max-width: 90%;
    width: 668px;
    height: auto;
    margin-bottom: 2rem;
}

.button {
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: clamp(0.8rem, 2vw, 1.2rem) clamp(2rem, 5vw, 3rem);
}

@media (max-width: 768px) {
    .logoHome {
        width: 90%;
        max-width: 400px;
    }
}